// variables
// emoji color #FDBB33;
$bg-color: #161A43;
$accent-color: #E77D9A;
$accent-blue: #026CDB;
$hover-color: rgb(233, 14, 17);

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// components
.icon {
  font-size: 2rem;
  color: $accent-blue;
  &:hover {
    color: white;
  }
  display: flex;
  align-items: center;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;  
}

.hide {
  display: none;
}

.list-emoji {
  margin-right: .5rem;
}

.button {
  padding: .2rem .8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: $accent-color 3px solid;
  border-radius: 999px;
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color:white;
    color: $accent-color;
  }
}

input {
  font-family: 'Poppins', sans-serif;
  border: none;
  &:focus {
  outline: none;
  }
  width: 100%;
}


ul {
    list-style: none;
    // background-color: white;
    padding: .5rem;

    li {
      padding: .5rem;
  }
}

// Login
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    width: 23rem;
    border: solid $accent-blue 2px;
    border-radius: .5rem;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input {
    font-size: 1.6rem;
    padding: 3px 6px 3px 20px;
    border-radius: 6rem;
    &:focus {
      outline: $accent-color 4px solid;
    }
  }
}



// Header
header {
  margin-bottom: 2rem;
}

// Sidebar
nav {
  background-color: $bg-color;

  .hamburger {
    margin: .5rem;
    position: fixed;
    top: 0;
    right: 0;

  }

  .sidebar-open {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: opacity 250ms ease-in-out;
    opacity: 1;
    height: 100vh;
    border: 1px solid $accent-blue;
    display: flex;
    flex-direction: column;


    .nav-close {
      align-self: flex-end;
      margin: .5rem;
    }

    .nav-list {
      border-radius: 0;
      
      

      li {
        font-size: 1.6rem;

        &:hover {
        border: $accent-color 3px solid;
        border-radius: 999px;
        }
      }
           
    }
  }
}

// Home
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ListModal

.modal {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 3rem 4rem;
  background-color: $bg-color;
  border: solid 1px white;
  border-radius: .5rem;
  position: relative;
  will-change: transform, opacity;

  .modal-emoji-picker {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
    margin-bottom: 1rem;
    position: relative;
  }

  .modal-emoji-picker > * {
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emoji {
    background-color: white;
    font-size: 1.2rem;
    color: $bg-color;
  }

  input{
    margin-bottom: 1rem;
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    &:focus {
      outline: none;
    }
  }

  .modal-button {
    border-radius: 50rem;
  }

  .modal-submit-button {
    border-radius: 50rem;
    align-self: flex-end;
  }
}



// TodoList

.todolist {
  background-color: white;
  color: $bg-color;
  position: relative;
  margin-top: 2rem;

  h2 {
    padding-left: .5rem;
    margin-top: 2rem;
  }

  .todolist-message {
    font-size: 4rem;
    background-color: $bg-color;
    color: #dddddd;
  }

  .todolist-list {
    padding: 2rem;
    border-radius: .5rem;
    
    li {
        border-bottom: solid 1px #c2c2b6;
    }
  } 
}

// TodoListSetting
.todolist-setting {
  position: absolute;
  top: 0;
  right: .3rem; 
  

}

  .menubox {
    position: relative;
    background-color: $bg-color;
    color: white;
    border: white 2px solid;

    ul {
      text-align: left;
      font-size: 1rem;

    li {
       &:hover {
        border: $accent-color 3px solid;
        border-radius: 999px;
        }       
      }
    }
  }


// TodoForm  
.todo-input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  border-radius: .5rem;
}


// TodoForm & Todo

.todo {
  display: flex;
  gap: 1rem;
}

// Todo

.todo-line {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}


.todo-icons {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  .icon {
    &:hover {
      color: $accent-color;
    }
  }
}

.complete {
  text-decoration: line-through;
}


//! format
// TodoListName

.form-list-name {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);

  .list-name-input {
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    input {
      min-width: 5rem;
      max-width: 15rem;
      background-color: white;
      color: $bg-color;
      border: none;
      &:focus {
        outline: none;
      }

  }
  
    
    .emoji-picker {
      position: absolute;
      top: 5rem;
      right: 0;

    }
  }

  .update-button {
    background-color: white;
    color: $accent-color;
    margin-left: 1rem;
    border: none;

    .icon {
      &:hover {
        color: $bg-color;
      }
    }
  }
}

.list-name {
  background-color: $bg-color;
  color: white;
  padding-bottom: 1rem; 
}

.list-title {
  font-size: 1.6rem;
  font-weight: 600;

  &:hover {
    color: $accent-color;
  }
}