.App {
  min-height: 100vh;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  font-size: 2rem;
  color: #026CDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon:hover {
  color: white;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
}

.hide {
  display: none;
}

.list-emoji {
  margin-right: .5rem;
}

.button {
  padding: .2rem .8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: #E77D9A 3px solid;
  border-radius: 999px;
  background-color: #E77D9A;
  color: white;
}

.button:hover {
  background-color: white;
  color: #E77D9A;
}

input {
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: .5rem;
}

ul li {
  padding: .5rem;
}

header {
  margin-bottom: 2rem;
}

nav {
  background-color: #161A43;
}

nav .hamburger {
  margin: .5rem;
  position: fixed;
  top: 0;
  right: 0;
}

nav .sidebar-open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  opacity: 1;
  height: 100vh;
  border: 1px solid #026CDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .sidebar-open .nav-close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5rem;
}

nav .sidebar-open .nav-list {
  border-radius: 0;
}

nav .sidebar-open .nav-list li {
  font-size: 1.6rem;
}

nav .sidebar-open .nav-list li:hover {
  border: #E77D9A 3px solid;
  border-radius: 999px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40rem;
  padding: 3rem 4rem;
  background-color: #161A43;
  border: solid 1px white;
  border-radius: .5rem;
  position: relative;
  will-change: transform, opacity;
}

.modal .modal-emoji-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.modal .modal-emoji-picker > * {
  padding: .5rem 1rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .emoji {
  background-color: white;
  font-size: 1.2rem;
  color: #161A43;
}

.modal input {
  margin-bottom: 1rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

.modal input:focus {
  outline: none;
}

.modal .modal-button {
  border-radius: 50rem;
}

.modal .modal-submit-button {
  border-radius: 50rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.todolist {
  background-color: white;
  color: #161A43;
  position: relative;
  margin-top: 2rem;
}

.todolist h2 {
  padding-left: .5rem;
  margin-top: 2rem;
}

.todolist .todolist-message {
  font-size: 4rem;
  background-color: #161A43;
  color: #dddddd;
}

.todolist .todolist-list {
  padding: 2rem;
  border-radius: .5rem;
}

.todolist .todolist-list li {
  border-bottom: solid 1px #c2c2b6;
}

.todolist-setting {
  position: absolute;
  top: 0;
  right: .3rem;
}

.menubox {
  position: relative;
  background-color: #161A43;
  color: white;
  border: white 2px solid;
}

.menubox ul {
  text-align: left;
  font-size: 1rem;
}

.menubox ul li:hover {
  border: #E77D9A 3px solid;
  border-radius: 999px;
}

.todo-input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  border-radius: .5rem;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.todo-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.todo-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
}

.todo-icons .icon:hover {
  color: #E77D9A;
}

.complete {
  text-decoration: line-through;
}

.form-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
}

.form-list-name .list-name-input {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-list-name .list-name-input input {
  min-width: 5rem;
  max-width: 15rem;
  background-color: white;
  color: #161A43;
  border: none;
}

.form-list-name .list-name-input input:focus {
  outline: none;
}

.form-list-name .list-name-input .emoji-picker {
  position: absolute;
  top: 5rem;
  right: 0;
}

.form-list-name .update-button {
  background-color: white;
  color: #E77D9A;
  margin-left: 1rem;
  border: none;
}

.form-list-name .update-button .icon:hover {
  color: #161A43;
}

.list-name {
  background-color: #161A43;
  color: white;
  padding-bottom: 1rem;
}

.list-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.list-title:hover {
  color: #E77D9A;
}
/*# sourceMappingURL=App.css.map */