

.App {
  min-height: 100vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// components
.icon {
  font-size: 2rem;
  &:hover {
    opacity: 0.8;
  }
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;  
}

.hide {
  display: none;
}

.button {
  background-color: #282940;
  border: none;
  border-radius: .5rem;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

ul {
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    min-width: 12rem;
    box-shadow: 6px 5px 8px 2px rgba(74,71,55,0.47);

    li {
      border-bottom: solid 1px #c2c2b6;
      padding: .5rem;
      &:hover {
      background-color: rgba(166, 211, 52, 0.3);
    
    }
  }
}

// Nav
nav {
  margin-block: 1rem;

  h1 {
    text-align: center;
    font-size: 1.8rem;
  }
}

// TodoList Overview
.todolists {
  display: flex;
  flex-direction: column;
  align-items: center;

  .plusIcon {
    text-align: right;
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  ul {
    font-size: 1.6rem;
    // text-align: center;
    min-width: 15rem;
    max-width: 20rem;

    li {
      padding-left: 2rem;
    }

    a {
      text-decoration: none;
      &:link, &:hover, &:active {
        color: #282940;
      }   
    }
  }  
}

// ListInfoModal

.modal {
  position: relative;
  padding: 3rem 4rem;
  background-color: #ebe536;
  border-radius: .5rem;
  box-shadow: 6px 5px 8px 1000px rgba(74,71,55,0.47);

  .modal-emoji {
    display: flex;
  }

  input{
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    &:focus {
      outline: none;
      background-color: #EAE1DA;
    }
  }
}



// TodoList

.todolist {
  position: relative;
  margin-top: 2rem;

  h2 {
    padding-left: .5rem;
    margin-top: 2rem;
  }
}

// TodoListSetting
.todolist-setting {
  position: absolute;
  top: 0;
  right: 0; 
}

  .menubox {
    position: relative;

    ul {
      text-align: left;
      font-size: 1rem;
    }    
  }


// TodoForm  
.todo-input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: .5rem;
  &:focus {
    outline: none;
  }
  width: 100%;
}


// TodoForm & Todo

.todo-card {
  margin-top: 1rem;
  margin-bottom: .8rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 6px 5px 8px 2px rgba(74,71,55,0.47);
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  font-size: 1.4rem;
  padding: .5rem 1rem;
  min-width: 18rem;
  min-height: 3rem;  
}

.todo {
  display: flex;
  gap: 1rem;
}

// ! Doesn't work when the position is changed
.edit {
  background-color: #EAE1DA;
}

.todo-icons {
  display: flex;
  flex-direction: row;
}

.complete {
  text-decoration: line-through;
}