@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(255,248,238,1) 29%, rgba(223,224,223,1) 100%);
  font-family: 'Poppins', sans-serif;
  color: #282940;
}